<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "100x10" %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list, value: @project.tag_list.to_s %>
  </p>
  <p>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </p>
<% end %>